pipeline_stopstart_vm.json
{
    "name": "pipeline3",
    "properties": {
        "description": "pipeline-stop-start-vm or Stops Azure VM",
        "activities": [
            {
                "name": "Check Azure VM Status",
                "type": "WebActivity",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "url": {
                        "value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionId,'/resourceGroups/',pipeline().parameters.ResourceGroupName,'/providers/Microsoft.Compute/virtualMachines/',pipeline().parameters.VMName,'/InstanceView?api-version=2020-12-01')",
                        "type": "Expression"
                    },
                    "method": "GET",
                    "authentication": {
                        "type": "MSI",
                        "resource": "https://management.azure.com/"
                    }
                }
            },
            {
                "name": "Start or Deallocate",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Check Azure VM Status",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@or(and(equals(activity('Check Azure VM Status').output.statuses[1].displayStatus,'VM deallocated'), equals(pipeline().parameters.Command,'Start')),and(equals(activity('Check Azure VM Status').output.statuses[1].displayStatus,'VM running'), equals(pipeline().parameters.Command,'Deallocate')))",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "Start or Pause Azure VM",
                            "description": "Start or Pause Azure VM using REST APIs",
                            "type": "WebActivity",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 3,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [
                                {
                                    "name": "Azure VM",
                                    "value": "Pause"
                                }
                            ],
                            "typeProperties": {
                                "url": {
                                    "value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionId,'/resourceGroups/',pipeline().parameters.ResourceGroupName,'/providers/Microsoft.Compute/virtualMachines/',pipeline().parameters.VMName,'/',pipeline().parameters.Command,'?api-version=2020-12-01')",
                                    "type": "Expression"
                                },
                                "method": "POST",
                                "body": {
                                    "value": "{}",
                                    "type": "Expression"
                                },
                                "authentication": {
                                    "type": "MSI",
                                    "resource": "https://management.azure.com/"
                                }
                            }
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "SubscriptionId": {
                "type": "string",
                "defaultValue": "00000"
            },
            "ResourceGroupName": {
                "type": "string",
                "defaultValue": "00000"
            },
            "Region": {
                "type": "string",
                "defaultValue": "00000"
            },
            "VMName": {
                "type": "string",
                "defaultValue": "00000"
            },
            "Command": {
                "type": "string",
                "defaultValue": "Start"
            }
        },
        "folder": {
            "name": "Manage"
        },
        "annotations": [
            "Synapse Analytics"
        ],
        "lastPublishTime": "2020-11-13T07:03:47Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}